<!DOCTYPE html>
{% extends 'user/base.html' %}
{% block body_block %}
<div class="jumbotron py-4">
  <div class="container">
    <h1 class="mb-4 text-center">Product Details</h1>
    <div id="nullDiv" class="d-flex justify-content-center" style="height: 80vh;">
      <div class="card shadow-sm p-4 w-50">
        <form method="POST" enctype="multipart/form-data">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" class="btn btn-success btn-lg" value="submit">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}