<!DOCTYPE html>
{% extends 'user/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <form action="" method="GET">
            <h1>Orders</h1>
            <div style="text-align: right;">
                <select name="level" class='btn btn-light dropdown-toggle'>
                    <option value="All">All</option>
                    <option value="Pending">Pending</option>
                    <option value="Canceled">Canceled</option>
                    <option value="Delivered">Delivered</option>
                </select>
                <input type="submit" value="Filter" class="btn btn-warning">
            </div>

            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    
                    <div id="nullDiv">
                    <div style="text-align: center;">
                        <h3>Welcome Admin – Manage Orders</h3>
                        <br>
                        <a class="btn btn-primary" href="/admin/">Go to Admin Dashboard</a>
                    </div></div>
                {% else %}
                    <div id="nullDiv">
                        <div style="text-align: center;">
                            <h3>No Orders placed</h3>
                            <br>
                            <a class="btn btn-info" href="/">Continue Shopping</a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div style="text-align: center;">
                    <h3>You must log in to view orders</h3>
                    <br>
                    <a class="btn btn-success" href="/login/">Login</a>
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
