{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="media/icons/favicon.svg" type="image/svg+xml">


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <title>Shop@JP</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-3 px-md-4">
      
      <!-- Brand and Toggler -->
      <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
        <img src="media/icons/cart_logo.png" alt="logo" class="brand-logo">
        <span class="brand-text">Shop@JP</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible Content -->
      <div class="collapse navbar-collapse" id="navbarContent">
        
        <!-- Navigation Links -->
         <div id="center" class="navWidth">
        <ul class="navbar-nav mr-auto" id="navBar">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}" style="display: flex; justify-content: center; align-items: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
</svg>&nbsp;Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}" style="display: flex; justify-content: center; align-items: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
</svg>&nbsp;Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders" style="display: flex; justify-content: center; align-items: center;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
</svg>&nbsp;Orders</a>
          </li>
        </ul></div>

<div style="width: 30%;" id="searchBar">
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'home' %}" id="center">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" style="width: 80%;">
      <button class="btn btn-outline-success" type="submit" style="border-radius: 20%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
      </button>
    </form>
</div>
        <!-- User Menu -->
        <ul class="navbar-nav ml-auto" id="center" style="width: fit-content;">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg> {{ request.user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              {% if request.user.is_superuser %}
              <div style="text-align: center;">
                <strike>Merchant Profile</strike>
              </div>
              {% else %}
                {% if is_merchant %}
              <a class="dropdown-item" href="\merchant_profile/{{ request.user.username }}">Merchant Profile</a>
                {% else %}
              <a class="dropdown-item" href="\merchant_signup/{{ request.user.username }}">Register as Merchant</a>
                {% endif %}
              {% endif %}
              <div class="dropdown-divider"></div>
              <form method="post" action="{% url 'logout' %}" class="dropdown-item">
                {% csrf_token %}
                <button type="submit" style="border: none; background: none; cursor: pointer; color: rgb(254, 81, 81);">
                  Logout
                </button>
              </form>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>

  {% block body_block %}
  {% endblock %}

  <!-- Footer -->
  <footer class="bg-dark text-white mt-5">
    <div class="container py-4">
      <div class="row">
        
        <div class="col-md-6 mb-4">
          <h5>About Shop@JP</h5>
          <p>
            Your trusted marketplace for quality products from verified merchants.  
            Secure payments, fast delivery, and the best deals in one place.
          </p>
        </div>
        
        <div class="col-md-3 mb-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
            <li><a href="{% url 'cart' %}" class="text-white">Cart</a></li>
            <li><a href="{% url 'orders' %}" class="text-white">My Orders</a></li>
          </ul>
        </div>
        
        <div class="col-md-3 mb-4">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li>Email: support@Shop@JP.com</li>
            <li>Phone: +91 98765 43210</li>
            <li><a href="{% url 'terms&conditions' %}" target="_blank" class="text-white">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
      <hr class="bg-light">
      <div class="text-center">
        <small>&copy; 2025 Shop@JP. All Rights Reserved.</small>
      </div>
    </div>
  </footer>

</body>
</html>